<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="JallAopMonologBundle test suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <!-- If any business logic is ever added to Annotations or DependencyInjection -->
                <!-- they should be removed from exclusion -->
                <directory>./Annotation</directory>
                <directory>./DependencyInjection</directory>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
